/* NewEntryForm.css */

.new-entry-form {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 150px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff9c7;

}

.file-input-container {
  margin-bottom: 20px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-input {
  display: none;
}

.file-upload-button {
  background-color: #ffa9fa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.file-upload-button:hover {
  background-color: #2980b9;
}

.image-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.image-preview {
  display: flex;
  flex-direction: column;
}

.image-preview-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.remove-button {
  cursor: pointer;
  font-size: 20px;
}

.description-container {
  margin-bottom: 20px;
}

.description-label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.description-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.upload-button {
  background-color: #ffa9fa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #2980b9;
}

.success-message {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0;
  font-size: 1.2rem;
  transition: opacity 1s ease;
}